---
---

@import "{{ site.theme }}";

footer {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-top: 1px dashed $conifer; //footer;
  padding: 20px 0;
}

.container{
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
  
.h2{
  font-weight: 100;
  font-size: 28px;
  color: #FAFAFA;
}

.dud{
  color: #757575;
}

.btn-twitter .icon { background: url("../images/twitter.png") 0 0 no-repeat; }
.btn-discord .icon { background: url("../images/discord.png") 0 0 no-repeat; }
